<% if @order_items.any? %>
  <% if current_user.account %>
    <p>
      Here
    </p>
  <% end %>
  <% @order_items.each do |item| %>
    <p>
      <%= item.order.id %>
    </p>
    <p><%= item.product.name %> | <%= link_to "Delete", order_item_path(item), :data => {:confirm => "You sure?", :method => "delete"} %></p>
    <p> Unit Price: <%= number_to_currency item.product.price %> | Quantity: <%= item.quantity %> | Total Price: <%= number_to_currency (item.product.price * item.quantity) %></p>
  <% end %>
  <p>
    <% ord_count = 0  %>
    <% current_order.order_items.each do |ord| %>

    <% ord_count = ord_count + ord.quantity %>

    <% end %>
    Item Total: <%= ord_count %>
  </p>
  <p>Your Total: <%= number_to_currency current_order.total_price %></p>
  <%= link_to "Pay for Shipment", new_charge_path, class: "btn btn-success" %>

<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>
