<div class="col-md-12">
  <h2>Welcome to commerce!</h2>
</div>
<div class="left-welcome col-md-6">
  <p>
    <%= link_to "View Products", products_path %>
    <br>
    <% if current_user %>
      <%= link_to "Cart", cart_path %> |
      <%= link_to "Test", test_path %>
    <% end %>
    <br>
    <%= link_to "View Orders", orders_path %>
    <%= link_to "New Charges", new_charge_path%>
  </p>
</div>

<div class="right-welcome col-md-6">
  <p>
    aa
  </p>
</div>
