<div class="banner col-md-12">
  <h2>Welcome to commerce!</h2>
</div>
<div class="welcome-text col-md-12">
  <p>
    <span class="accent">E</span>psum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum. Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo contendre. Gratuitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium.
  </p>

  <p>
    <span class="accent">K</span>ic tempus fugit esperanto hiccup estrogen. Glorious baklava ex librus hup hey ad infinitum. Non sequitur condominium facile et geranium incognito. Epsum factorial non deposit quid pro quo hic escorol. Marquee selectus non provisio incongruous feline nolo contendre Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum.
  </p>
</div>
<div class="left-welcome col-md-6">
  <p>
    <%= link_to "Add Products to Cart", products_path %>
    <br>
    <% if current_user %>
      <%= link_to "Cart", cart_path %> |
      <%= link_to "Test", test_path %>
    <% end %>
    <br>
    <%= link_to "View Orders", orders_path %>
    <br>
    <%= link_to "All Users", users_path %>
  </p>
</div>

<div class="right-welcome col-md-6">
  <p>
    aa
  </p>
</div>
